.sliderImage {
  width: 100%;
  height: 210px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  object-fit: cover;
}

.sliderElement {
  width: 160px !important;
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 300px;
  max-height: max-content;
  margin-right: 0px;
}
.sliderName {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.2s all ease;
}
.sliderName:hover {
  opacity: 0.5;
}
.sliderCharacter {
  font-size: 1em;
  margin-left: 10px;
}
.slider {
  width: 1300px;

  gap: 10px;
}

@media (max-width: 828px) and (min-width: 400px) {
  .slider {
    width: 550px;
  }
}
@media (max-width: 978px) and (min-width: 828px) {
  .slider {
    width: 700px;
  }
}
@media (max-width: 1126px) and (min-width: 978px) {
  .slider {
    width: 850px;
  }
}

@media (max-width: 1330px) and (min-width: 1126px) {
  .slider {
    width: 1000px;
  }
}
@media (max-width: 1436px) and (min-width: 1330px) {
  .slider {
    width: 1200px;
  }
}
