.container {
  background-color: #343a40;
  padding: 20px 75px 40px 75px;
  min-height: 100vh;
}

.viewMore {
  display: block;
  flex-shrink: 1;
  background: #339dff;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 38px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.viewMore:hover {
  background: #fff;
  color: #339dff;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.items {
  display: flex;
  gap: 20px;
  align-items: center;

  margin-bottom: 50px;
  position: relative;
}
.item {
  align-self: stretch;
}

.itemTitle {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  width: 225px;
  color: white;
}

.itemInfo {
  display: flex;
  gap: 20px;
}

.itemInfo > * {
  color: #a3a3a3;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.itemJobs {
  color: #a3a3a3;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  max-width: 220px;
}
.itemImage {
  height: 320px;
  width: 220px;
  cursor: pointer;
  transition: 0.4s all ease;
}
.itemImage:hover {
  opacity: 0.4;
}

.title {
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

.sectionTitle {
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.sectionTitle::after {
  content: "";
  display: block;
  background: #ff0000;
  width: 80px;
  height: 4px;
  margin-top: 10px;
}

.sectionError {
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  margin-bottom: 100px;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
.sectionError::after {
  content: "";
  display: block;
  background: #ff0000;
  width: 200px;
  height: 4px;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .container {
    background-color: #343a40;
    padding: 10px;
    min-height: 100vh;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .itemTitle {
    width: 100%;
  }

  .itemImage {
    height: 220px;
    width: 90%;
    cursor: pointer;
    transition: 0.4s all ease;
  }
}
@media (max-width: 1688px) and (min-width: 600px) {
  .itemImage {
    height: 300px;
    width: 200px;
  }
  .items {
    flex-wrap: wrap;
    gap: 20px;
  }
  .item {
    align-self: stretch;
  }
  .viewMore {
    position: absolute;
    top: -70px;
    left: 160px;
  }
}
