.carousel {
  margin-top: 30px;
  padding: 30px;
  width: 100%;
}

.slider {
  padding-top: 10px;
}

.sliderElement {
  margin-right: 10px;
  color: white;
  border: none;
  outline: none;
}
.sliderTitle {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  width: 250px;
  cursor: pointer;
}
.sliderTitle:hover {
  opacity: 0.5;
}

.sliderTitleLight {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  width: 250px;
  color: black;
}
.sliderTitleLight:hover {
  opacity: 0.5;
}

.sliderInfo {
  padding-left: 5px;
  display: flex;
  gap: 20px;
}

.sliderInfo > * {
  color: #a3a3a3;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.title {
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  max-width: fit-content;
}
.titleLight {
  color: black;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  max-width: fit-content;
}

.titleLight::after {
  content: "";
  display: block;
  background: #ff0000;
  width: calc(100% - 50px);
  height: 4px;
  margin-top: 10px;
}
.title::after {
  content: "";
  display: block;
  background: #ff0000;
  width: calc(100% - 50px);
  height: 4px;
  margin-top: 10px;
}

.genres {
  list-style: none;
  padding-left: 5px;
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  column-gap: 10px;
}
.genre {
  color: #a3a3a3;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: inline;
}
.sliderPoster {
  cursor: pointer;
  transition: 0.4s all ease;
  width: 230px;
  height: 350px;
}
.sliderPoster:hover {
  opacity: 0.4;
}

@media (max-width: 480px) and (min-width: 320px) {
  .title,
  .titleLight {
    font-size: 25px;
  }
  .title::after,
  .titleLight::after {
    height: 3px;
  }
  .carousel {
    padding: 5px;
  }
  .sliderTitle,
  .sliderTitleLight {
    font-size: 15px;
    max-width: 120px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 12px;
  }
  .sliderInfo {
    gap: 8px;
  }
  .sliderInfo,
  .genres {
    max-width: 120px;
  }
  .sliderPoster {
    width: 120px;
    height: 230px;
  }
}

@media (max-width: 385px) and (min-width: 320px) {
  .title,
  .titleLight {
    font-size: 25px;
  }
  .title::after,
  .titleLight::after {
    height: 3px;
  }
  .carousel {
    padding: 20px;
  }
  .sliderTitle,
  .sliderTitleLight {
    font-size: 15px;
    max-width: 140px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 12px;
  }
  .sliderInfo,
  .genres {
    max-width: 140px;
  }
  .sliderInfo {
    gap: 8px;
  }
  .sliderPoster {
    width: 140px;
    height: 260px;
  }
}
@media (max-width: 606px) and (min-width: 385px) {
  .title,
  .titleLight {
    font-size: 25px;
  }
  .title::after,
  .titleLight::after {
    height: 3px;
  }
  .carousel {
    padding: 10px;
  }
  .sliderTitle,
  .sliderTitle {
    font-size: 15px;
    max-width: 130px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 12px;
  }
  .sliderInfo,
  .genres {
    max-width: 130px;
  }
  .sliderInfo {
    gap: 8px;
  }
  .sliderPoster {
    width: 130px;
    height: 250px;
  }
}

@media (max-width: 670px) and (min-width: 606px) {
  .title,
  .titleLight {
    font-size: 25px;
  }
  .title::after,
  .titleLight::after {
    height: 3px;
  }
  .carousel {
    padding: 10px;
  }
  .sliderTitle,
  .sliderTitleLight {
    font-size: 15px;
    max-width: 130px;
  }
  .sliderInfo,
  .genres {
    max-width: 130px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 12px;
  }
  .sliderInfo {
    gap: 8px;
  }
  .sliderPoster {
    width: 130px;
    height: 250px;
  }
}

@media (max-width: 824px) and (min-width: 670px) {
  .title,
  .titleLight {
    font-size: 25px;
  }
  .title::after,
  .titleLight::after {
    height: 3px;
  }
  .sliderTitle,
  .sliderTitleLight {
    font-size: 16px;
    max-width: 140px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 12px;
  }
  .sliderInfo,
  .genres {
    max-width: 140px;
  }
  .sliderInfo {
    gap: 10px;
  }
  .sliderPoster {
    width: 140px;
    height: 260px;
  }
}

@media (max-width: 916px) and (min-width: 824px) {
  .title,
  .titleLight {
    font-size: 25px;
  }
  .title::after,
  .titleLight::after {
    height: 3px;
  }
  .sliderTitle,
  .sliderTitleLight {
    font-size: 16px;
    max-width: 140px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 12px;
  }
  .sliderInfo {
    gap: 10px;
  }
  .sliderInfo,
  .genres {
    max-width: 140px;
  }
  .sliderPoster {
    width: 140px;
    height: 260px;
  }
}

@media (max-width: 1076px) and (min-width: 916px) {
  .title,
  .titleLight {
    font-size: 30px;
  }
  .sliderTitle,
  .sliderTitleLight {
    font-size: 16px;
    max-width: 150px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 12px;
  }
  .sliderInfo,
  .genres {
    max-width: 150px;
  }
  .sliderInfo {
    gap: 10px;
  }
  .sliderPoster {
    width: 150px;
    height: 270px;
  }
}

@media (max-width: 1200px) and (min-width: 1076px) {
  .sliderTitle,
  .sliderTitleLight {
    font-size: 16px;
    max-width: 160px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 12px;
  }
  .sliderInfo {
    gap: 10px;
  }
  .sliderInfo,
  .genres {
    max-width: 160px;
  }
  .sliderPoster {
    width: 160px;
    height: 280px;
  }
}

@media (max-width: 1479px) and (min-width: 1200px) {
  .sliderTitle,
  .sliderTitleLight {
    font-size: 17px;
    max-width: 170px;
  }
  .sliderInfo > *,
  .genre {
    font-size: 13px;
  }
  .sliderInfo,
  .genres {
    max-width: 170px;
  }
  .sliderPoster {
    width: 170px;
    height: 290px;
  }
}
