.carousel {
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  color: black;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: "Roboto", serif;
}

.title::after {
  content: "";
  display: block;
  background: #21d07a;
  width: 100px;
  height: 4px;
  margin-top: 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  height: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 0 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
  width: 35px;
  height: 35px;
  transform: translateY(-50%);
  top: 50%;
}

.custom-next {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  z-index: 10;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.custom-prev {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  z-index: 10;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

@media (max-width: 768px) {
  .swiper-slide {
    height: 300px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next {
    right: -20px;
  }

  .swiper-button-prev {
    left: -20px;
  }
}
