.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
}

.errorPage h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.errorPage p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.retryButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.retryButton:hover {
  background-color: #2980b9;
}
