.lastSeason {
  gap: 20px;
  display: flex;
  /* margin-left: 70px; */
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 195px;
  max-height: fit-content;
  width: 1125px;
}
/* .lastSeasonBlock {
  width: fit-content;
} */
.lastSeasonMisc {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.lastSeasonImage {
  width: 145px;
  height: 215px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.lastSeasonTitle {
  font-weight: 600;
  font-size: 1.5em;
  font-family: "Roboto", serif;
  margin-bottom: 5px;
  margin-top: 20px;
}

.lastSeasonMisc > * {
  font-size: 1em;
  font-weight: 600;
  font-family: "Roboto", serif;
}
.lastSeasonOverview {
  font-family: "Roboto", serif;
  font-size: 0.9em;
}
.lastSeasonInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lastSeasonHeader {
  /* margin-left: 70px; */
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  font-family: "Roboto", serif;
}
.lastSeasonFooter {
  margin: 10px auto;
  font-weight: 400;
  font-size: 20px;
  font-family: "Roboto", serif;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.lastSeasonFooter:hover {
  opacity: 0.6;
}
@media (max-width: 500px) {
  .lastSeason {
    flex-direction: column;
    /* display: grid; */
    width: auto;
  }
  .lastSeasonImage {
    display: none;
    /* width: 100px;
    height: 100px; */
  }
  .lastSeasonOverview {
    overflow-wrap: break-word;
    text-wrap: wrap;
    max-width: 100%;
    padding: 0 10px;
  }
  .lastSeasonHeader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lastSeasonTitle {
    text-align: center;
  }
  .lastSeasonMisc {
    align-items: center;
    justify-content: center;
  }
}
